@font-face {
  font-family: 'Google Sans';
  src: url('/fonts/GoogleSans-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Google Sans';
  src: url('/fonts/GoogleSans-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@import "tailwindcss";

@layer components {
  .font-google {
    font-family: "Google Sans", sans-serif;
  }
}
